@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&family=Libre+Baskerville:ital@0;1&display=swap');

body {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: rgb(255, 255, 255);
    padding: 2vh;
    margin: 0;
    max-width: 100vw;
}

a {
    text-decoration: none;
    color: white;
    font-family: 'Libre Baskerville';
    font-style: italic;
    font-size: 1rem;
}

header {
    display: flex;
    align-items: center;
    margin: 0 0 2.5vh 0;
}

label {
    display: flex;
    align-items: center;
    margin-left: auto;
}

#logo {
    width: 3rem;
}

.menu {
    font-family: 'Libre Baskerville';
    font-size: 1rem;
    cursor: pointer;
}

.hamburger {
    margin-left: 10px;
    cursor: pointer;
}

.hamburger span {
    height: 3px;
    width: 30px;
    background: white;
    display: block;
    margin: 5px;
    position: relative;
    transition: all 0.1s ease-in-out;
}

.trigger {
    display: none;
}

.trigger:checked ~ .hamburger span:first-child {
    transform: rotate(45deg);
    top: 8px;
}

.trigger:checked ~ .hamburger span:last-child {
    transform: rotate(-45deg);
    bottom: 8px;
}

.trigger:checked ~ .hamburger span:nth-of-type(2) {
    opacity: 0;
}


.trigger:checked ~ nav {
    top: 4.5rem;
    right: 1rem;
}

.trigger:checked ~ nav a {
    color: rgb(255, 255, 255);
}

nav {
    position: absolute;
    display: flex;
    top: 4.5rem;
    right: 40rem;
    padding: 0;
    transition: all ease-in-out 0.3s;
    margin: 1vw 0 0 0;
}

nav a {
    margin-bottom: 10px;
    color: rgba(255, 255, 255, 0);
    transition: all ease-in-out 0.3s;
    margin: 0 1vh 0 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 2rem 0;
}

h1 {
    font-family: 'League Spartan';
    text-align: center;
}

main h2 {
    font-family: 'League Spartan';
    margin: 0.5rem 0;
}

main p {
    font-family: 'Libre Baskerville';
    margin: 0.5rem 0;
}

main section {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 3px solid white;
    border-radius: 1rem;
    width: 90vw;
    height: 15rem;
    margin: 1rem;
    padding: 0.75rem;
}

#project-1 {
    background-image: url(images/placeholder-1.jpg);
    background-size: cover;
}

#project-2 {
    background-image: url(images/placeholder-2.jpg);
    background-size: cover;
}

#project-3 {
    background-image: url(images/placeholder-3.jpg);
    background-size: cover;
}

#project-4 {
    background-image: url(images/placeholder-4.jpg);
    background-size: cover;
}

#socials {
    margin: 0 0 5vh 0;
}

#socials ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

#socials ul a {
    margin: 0 2vw 0 0;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: 'Libre Baskerville';
    font-size: 0.75rem;
    margin: 0;
}

footer p {
    margin: 0.2rem;
}

@media only screen and (min-width: 600px) and (max-width: 949px) {
    body {
        display: flex;
        flex-direction: column;
        background-color: black;
        color: white;
        padding: 5vh;
        margin: 0;
        max-height: 100vh;
    }

    .menu {
        display: none;
    }

    .hamburger {
        display: none;
    }

    .trigger:checked {
        margin: 1vw 0 0 0;
        top: auto;
        right: 2rem;
    }

    nav {
        margin: 1vw 0 0 0;
        top: auto;
        right: 2rem;
    }

    nav a {
        color: rgb(255, 255, 255);
        margin: 0 1rem 0 0;
    }

    a {
        font-size: 1.5rem;
    }

    #logo {
        width: 4rem;
    }

    #socials {
        margin: 0;
    }
    
    #socials ul {
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 0;
    }
}

@media only screen and (min-width: 950px) {
    body {
        display: flex;
        flex-direction: column;
        background-color: black;
        color: rgb(255, 255, 255);
        padding: 5vh;
        margin: 0;
        max-height: 100vh;
    }

    .menu {
        display: none;
    }

    .hamburger {
        display: none;
    }

    .trigger:checked {
        margin: 1vw 0 0 0;
        top: auto;
        right: 2rem;
    }

    nav {
        margin: 1vw 0 0 0;
        top: auto;
        right: 2rem;
    }

    nav a {
        color: rgb(255, 255, 255);
        margin: 0 1rem 0 0;
    }

    header {
        justify-content: space-around;
    }

    a {
        font-size: 2rem;
    }

    #logo {
        width: 5rem;
    }

    #socials {
        margin: 0;
    }
    
    #socials ul {
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 0;
    }

    main {
        flex-flow: row wrap;
        justify-content: center;
    }

    main section {
        width: 40%;
    }

}