@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&family=Libre+Baskerville:ital@0;1&display=swap');

body {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: rgb(255, 255, 255);
    padding: 2vh;
    margin: 0;
    max-height: 100vh;
    max-width: 100vw;
}

a {
    text-decoration: none;
    color: white;
    font-family: 'Libre Baskerville';
    font-style: italic;
    font-size: 1rem;
}

a:hover {
    text-decoration: underline greenyellow;
    color: greenyellow
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    margin: 0 0 5vh 0;
}

ul a {
    margin: 1vw;
}

#logo {
    width: 3rem;
}

#hero {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    background: url(images/self-portrait.png) black no-repeat top center;
    background-size: contain;
    height: 50vh;
    width: 100%;
    margin: 0 0 7.5vh 0;
}

#hero h3 {
    font-family: 'League Spartan';
    font-size: 1rem;
    margin: 0;
}

#hero h1 {
    font-family: 'League Spartan';
    font-size: 2rem;
    margin: 1rem 0 1rem 0;
}

#hero h1 span {
    color: greenyellow;
}

#socials {
    margin: 0 0 5vh 0;
}

#socials ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: 'Libre Baskerville';
    font-size: 0.75rem;
    margin: 0;
}

footer p {
    margin: 0.2rem;
}

@media only screen and (min-width: 600px) and (max-width: 899px) {
    body {
        display: flex;
        flex-direction: column;
        background-color: black;
        color: rgb(255, 255, 255);
        padding: 5vh;
        margin: 0;
        max-height: 100vh;
    }

    #hero {
        justify-content: center;
    }

    #hero h1 {
        font-size: 2.25rem;
    }

    #hero h3 {
        font-size: 1.5rem;
    }

    a {
        font-size: 1.5rem;
    }

    #logo {
        width: 4rem;
    }

    #socials {
        margin: 0;
    }
    
    #socials ul {
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 0;
    }
}

@media only screen and (min-width: 900px) {
    body {
        display: flex;
        flex-direction: column;
        background-color: black;
        color: rgb(255, 255, 255);
        padding: 5vh;
        margin: 0;
        max-height: 100vh;
    }

    header {
        justify-content: space-around;
    }

    #hero {
        justify-content: center;
        align-items: flex-start;
        height: 60vh;
        margin: 0;
    }

    #hero > * {
        position: relative;
        left: 55vw;
    }

    #hero h1 {
        font-size: 3rem;
    }

    #hero h3 {
        font-size: 2rem;
    }

    a {
        font-size: 2rem;
    }

    #logo {
        width: 5rem;
    }

    #socials {
        margin: 0;
    }
    
    #socials ul {
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 0;
    }

}