@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&family=Libre+Baskerville:ital@0;1&display=swap');

body {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: rgb(255, 255, 255);
    padding: 0.5rem;
}

a {
    text-decoration: none;
    color: white;
    font-family: 'Libre Baskerville', 'Times New Roman', serif;
    font-style: italic;
    font-size: 1rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 1rem 0;
}

ul a {
    margin: 1vw;
}

#logo {
    width: 3rem
}

#hero {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    background: url(images/self-portrait.png) black no-repeat left;
    background-size: 73vw;
    height: 100vw;
    width: 100%;
    margin: 0 0 1rem 0;
}

#hero h3 {
    font-family: 'League Spartan', sans-serif;
    font-size: 1rem;
    margin: 0;
}

#hero h1 {
    font-family: 'League Spartan', sans-serif;
    font-size: 2rem;
    margin: 1rem 0 1rem 0;
}

#hero img {
    width: 50vw;
}